html {
    min-height: 100%;
    max-height: 100%;
}

body{
    min-height: 100%;
    max-height: 100%;
    
    background: -webkit-linear-gradient(left top, #ffefc5 , #fff);
}

#wrapper {
    min-height: 100%;
    max-height: 100%;
    
    position: relative;
}
table {
    margin-top: 5%;
    margin-right:auto;
    margin-left:auto;
    
    background-color: rgba(255, 255, 255, 0);
    
    border: 0px solid rgba(255, 255, 255, 0)!important;
    
    height:0px;
}

tr {
    background-color: rgba(255, 255, 255, 0) !important;
}

td img {
    margin-right:auto;
    margin-left:auto;  
    display: block;
    
    border-radius: 20px;
    
}

.button {
    min-width: 40%;
    height: 100%;
    
    display: block;
    margin-left:auto;
    margin-right:auto;
    
    border-radius:5px;
}

/*#newGame:hover {
    background: -webkit-linear-gradient(top, #e8e8e8 , #ffb33a);
}*/