/* box-shadow prorperty: x-shadow  y-shadow   blur   spread   color   inner-shadow */
html, body {
  min-width: 100%;
  min-height: 100%; }

#wrapper {
  max-width: 100%;
  min-height: 100%;
  background: url("../images/bg-alt (1).jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.group:after {
  content: "";
  display: table;
  clear: both; }

/*fixes parents of all-floated elements */
#av-container {
  text-align: center;
  position: relative;
  margin-top: 60px; }

#avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: url("../images/avatar.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75) inset;
  margin: 0 auto; }

#intro-container {
  text-align: center;
  margin-top: 15px; }

#intro {
  color: #fff;
  background-color: #484848;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.45) inset; }
  #intro p {
    padding: 10px 0px; }

#name {
  color: #fac55f; }

.contentBox {
  width: 90%;
  margin: auto;
  padding: 2em 0;
  /*background: #072c40;*/
  text-align: center; }
  .contentBox p {
    color: #fff;
    margin-top: 10%; }

.icon {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  position: relative;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  margin: 0 auto;
  background: #fac55f;
  box-shadow: inset 3px 2px 6px transparent, 0px 0px 0px 3px #484848;
  border-radius: 50%; }
  .icon:before {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 1px solid #fff;
    border-radius: 50%; }
  .icon:hover, .icon:active {
    background: rgba(250, 197, 95, 0.7);
    box-shadow: inset 3px 2px 6px rgba(0, 0, 0, 0.25), 0px 0px 0px 5px #484848; }
    .icon:hover:before, .icon:active:before {
      top: -18px;
      left: -18px;
      right: -18px;
      bottom: -18px;
      border: 3px solid #fff; }
    .icon:hover img, .icon:active img {
      width: 64%; }
  .icon img {
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* Greater animation for larger screens */
@media (min-width: 768px) {
  .icon:hover, .icon:active {
    box-shadow: inset 3px 2px 6px rgba(0, 0, 0, 0.25), 0px 0px 0px 10px #484848; }

  .icon:hover:before, .icon:active:before {
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
    border: 4px solid #fff; } }
@media screen and (min-width: 641px) {
  #avatar {
    border-radius: 50%;
    width: 256px;
    height: 256px; }

  #intro-container {
    margin-bottom: 80px;
    margin-top: 40px; }

    /*#prof {
        float:left;
        margin-top:0px;
        width:$buttonWidthResp;
    }

    #per {
        float:right;
        margin-top:0px;
        width:$buttonWidthResp;
    }*/ }
