//general purpose variables
$avSize: 40px;
$gray:#484848;
$orange:#fac55f;

//header variables
$headerPadding: 10px 40px;

//skills panel variables
$skillsHeight:420px;

//category variables
$shadow1: 0px 2px 5px 0.5px rgba(0, 0, 0, 0.75) inset; //clicked
$shadow2: 0px 2px 2px 0.5px rgba(0, 0, 0, 0.75); //not-clicked
$skillShadow: 0px 2px 2px 0.5px rgba(0, 0, 0, 0.75);

//article variables
$linkPadding: 10px 4px;

//////////////////////////////////////////////////////       Mixins       ////////////////////////////////////////////////////////////////////
@mixin animation($value) {
    -webkit-animation: $value;
    -moz-animation: $value;
    -ms-animation: $value;
    animation: $value;
}

@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    border-radius: $value;
}

//////////////////////////////////////////////////////       Style Code    ////////////////////////////////////////////////////////////////////

body, html {
    max-width:100%;
    min-width:100%;
}

#name {
    color:$orange;
}

#wrapper {
    
    max-width: 100%;
    min-height: 100%;
    padding-top: 80px;
    
    background: url('../images/bg-alt (2).jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    position: relative;
}

#header {
    background-color:$gray;
    padding:$headerPadding;
    
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.75);
    
    position: fixed;
    z-index:5;
    left:0px;
    right:0px;
    
    p {
        color:#fff;
        display: inline;      
    }
}

#avatar {
    width: $avSize;
    height: $avSize;
     
    border-radius:50%;
    margin-right: 10px;
}

#row1 {
    margin-bottom:20px;
}

#about {
    /*height:$skillsHeight;*/
    
    text-align:center;
    background: url('../images/pentagon_pattern.png');
    background-repeat: repeat;
}

#resume {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
    padding: 10px 20px;
    border-radius: 8px;
    
    background-color: #fff;
    color: #fac55f;
    border: 1px solid #484848;
    
    transition: background-color 0.4s linear,
                color 0.4s linear;
    
    
    &:hover {
        background-color: #484848;
        color: #fac55f;
    }
}

#skills {
    background-color: $gray;
    height:$skillsHeight;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75) inset;
}

#row2 {
    
    /*div {
        padding:0px;
    }*/
       
}

#categories {
    
    margin-bottom:20px;
    
    li {
        text-align:center;
        padding-top:10px;
        padding-bottom:10px;
        
        color:$gray;
        background-color: #fff;
        box-shadow: $shadow2;
        
        transition:all .3s ease;
        
    }
    
    #web {
        /* start this one in "clicked" form */
        color: $orange;
        background-color: $gray;
        box-shadow: $shadow1;
    }
}

#content {
    
    background-color: rgba(74, 74, 74, 0.46);
    padding:15px;
    
    article {
        
        position: relative;
        
        img {
            border-radius: 20px;
            position: relative;
            z-index: 0;
        }
        
        div {
            position:absolute;
            top:0px;
            right:0px;
            bottom:0px;
            left:0px;
            z-index:1;
            
            background-color: rgba(51, 51, 51, 0.83);
            border-radius:20px;
            
            transition:all .7s ease;
            
            opacity: 0;
            
            h5 {
                position:absolute;
                top:40%;
                left: 0%;
                right: 0%;
                text-align: center;
                
                padding:$linkPadding;
                color:$gray;
                background-color: $orange;
            }
        }
    } 
} //END of #content

.projects {
    opacity: 0;
    transition: all 0.4s linear;
}

.announcement {
    background-color: rgba(34, 34, 34, 0.85);
    padding:15px;    
    margin-top: 25%;    
    color: #fac55f;    
    font-size: 20px;    
    @include border-radius(10px);    
}


@media screen and (min-width:1024px)
{
    #about {
        height:$skillsHeight;
        padding:3rem;

    }
    
    #skills {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75) inset;
    }
}


//////////////////////////////////////////////////////   modal code   /////////////////////////////////////////////////////////////

.modalBG {
    min-width: 100%;
    min-height: 100%;
    
    visibility: hidden;
    opacity: 0;
    
    position:fixed;
    top: 0px;
    z-index: 1000;
    
    background-color: rgba(39, 39, 39, 0.79);
}

.modal-wrap {
    position:fixed;
    
    visibility: hidden;
    opacity: 0;
    
    z-index: 2000;
    width: 340px;
    height: 340px;
    top: 30%;
    left: 50%;
    margin-top:-170px;
    margin-left:-170px;
    
    /*width:40%;
    margin-top: -170px;
    margin-left: -870px;*/
    
}

.md-content {
    position: relative;
    margin: 0 auto;
    width: 340px;
    height: 340px;
    
    -webkit-transform: translateX(200%);
    transition: all 0.3s ease;
}

.md-active {
    visibility: visible;
    opacity: 1;
}

.modal-wrap.md-active .md-content {
    -webkit-transform: translateX(0);
    transition: all 0.3s ease;
}



@media screen and (max-width:480px) {
    .modal-wrap {
        left: 0px;
        right: 0px;
        top: 0px;
        width: 100%;
        height:100%;
        margin-top: 0;
        margin-left: 0;
    }
    
    .md-content {
        height: 100%;
        padding: 100px 20px;
    }
}

.content-wrap {
    background-color: $gray;
    border-radius:20px;
    
    img {
        border-radius: 19px 19px 0px 0px;
    }
    
    
}

.modal-details {
    text-align:center;
    margin-top:20px;
    
    overflow-y: scroll;
    height: 180px;

    h3 {
        color:$orange;
    }

    p {
        color: white;
        margin-top:20px;
        margin-bottom:20px;
        
        padding-bottom:20px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.close-modal {
    left: 35%;
    
    background-color:$orange;
    border-color:#ffaa56;
    color:$gray;
    
    margin-top: 10px;
    
    &:hover {
        background-color:black;
        color:$orange
    }
    
    &:focus {
        border-color:$orange;
    }
}

//////////////////////////////////////////////////////   Scroll Arro code   /////////////////////////////////////////////////////////////
#scrollWrap {
    width: 8%;
    height: 0px;
    padding-bottom:8%;
    
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    
    visibility: hidden;
    opacity: 0;
    
    
    position: fixed;
    bottom: 10px;
    right: 40px;
    z-index: 5000;
    
    transition: all 0.4s linear;
}

#scrollArrow {
    width:100%;
    padding-bottom:100%;
    
    background: url('../images/arrow_up.png');
    background-repeat: no-repeat;
    background-size: contain;
}


//////////////////////////////////////////////////////  Loading animation code /////////////////////////////////////////////////////////////

.load-container {
    margin-left:auto;
    margin-right: auto;

    width: 100px;
    height: 100px;
    
    opacity: 1;
    display: block;

    transition: all 0.4s linear;

}

.load-container img {
    width: 100px;
    height: 100px;

    /*-webkit-animation: rota 2s linear infinite;*/
    @include animation(rota 2s linear infinite);

}

@-webkit-keyframes rota {
    from    { -webkit-transform: rotate(0deg);}
    to      { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes rota {
    from    { -moz-transform: rotate(0deg);}
    to      { -moz-transform: rotate(360deg);}
}

@-ms-keyframes rota {
    from    { -ms-transform: rotate(0deg);}
    to      { -ms-transform: rotate(360deg);}
}

@keyframes rota {
    from    { transform: rotate(0deg);}
    to      { transform: rotate(360deg);}
}