@charset "utf-8";
/* CSS Document */

table {
	margin-right:auto;
	margin-left:auto;
	margin-top:300px;
}

#header { 
	background-color:lightBlue; 
	}
	
#header p {
	color:red;
	margin:0px;
	}
	
#buttons {
	margin-right:auto;
	margin-left:auto;
	width:115px; 
    }
