@charset "utf-8";
/* CSS Document */

* {
	color:#fff;
}

body {
	background-color:#ABABAB;
}

#greeting {
	margin-right:auto;
	margin-left:auto;
	margin-top:350px;
	width:450px;
	
	-webkit-border-radius:20px 20px;
    -moz-border-radius: 20px 20px;
	border-radius:20px 20px;
	background-color:#F6AC56;
	padding:5px;
}

#message {
	margin-right:auto;
	margin-left:auto;
	margin-top:15px;
	
	text-align:center;
	
	-webkit-border-radius:20px 20px;
    -moz-border-radius: 20px 20px;
	border-radius:20px 20px;
	background-color:#2B7A58;
	padding:5px;
}