#wrapper {
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
    width:270px;
    padding:5px;
}

body {
	background-color:#FFD7A1;
}

form {
    -webkit-border-radius:20px 20px;
    -moz-border-radius: 20px 20px;
    border-radius:20px 20px;
    background-color:#A6A6A6;
    padding:5px;
}



#pop_calc_container {
	text-align:center;
	margin-top:35px;
	
	-webkit-border-radius:20px 20px;
    -moz-border-radius: 20px 20px;
	border-radius:20px 20px;
	background-color:#500000;
	padding:5px;
	
}

#pop_calc_container p {
	margin:0px;
	color:#fff;
}

td {
    text-align:center;
    color:#fff; 
}

.buttons {
    color:;
}

#compute {
    color:green;
}

#clearAll {
    color:red;
}

#pay_display {
	color:red;
}