table {
  height:400px;
  width:240px;
  
  margin-right:auto;
  margin-left:auto;
  
  background-color:#A6A6A6;
  
  -webkit-border-radius:5px 5px;
  -moz-border-radius:5px 5px;
  border-radius:5px 5px;
}

body {
	background-color:#4B4B4B;
}

#display {
  height:40px;
  padding:0px;
  text-align:right;
  
  background-color:#fff;
  margin-top:5px;
  padding:5px;
  
  -webkit-border-radius:5px 5px;
  -moz-border-radius:5px 5px;
  border-radius:5px 5px;
  
}

input {
	font-size:20px; }

.grid_1 {
  height:60px;
  width:60px;
}

.grid_2_hor {
  height:60px;
  width:120px;
}

.grid_2_vert {
  height:120px;
  width:60px;
}

.grid_4_hor {
  height:60px;
  width:254px;
}

.number_button {
	color:blue;
}

.off_button {
	color:red;
}

.operator_button {
	color:green;
}

.equal_button {
	color:#ED8E20;
}